.visitor-card-all {
  width: 300px;
  padding: 16px;
  margin: 0 30px 60px 0;
  border-top-right-radius: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.16);
}

.p-info-public {
  background: radial-gradient(88.89% 88.89% at 50% 50%, #FAFE26 0%, rgba(250, 254, 38, 0) 100%);
}

.img-visitor-card {
  max-width: 100%;
  max-height: 100%;
}