@font-face {
  font-family: "Italiana";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/italiana-regular.woff2") format("woff2"), url("../assets/fonts/italiana-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/open-sans.woff2") format("woff2"), url("../assets/fonts/open-sans.woff") format("woff");
}
